.myMarketTable {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-top: 1px solid lightgray;
  border-collapse: collapse;
  background-color: #fff;
  clear: both;
}

.myMarketTable > tbody > tr > th {
  border-bottom: 1px solid lightgray;
  text-align: left;
  padding: 20px;
}

.myMarketCard {
  width: 100px;
}

.myMarketNo,
.myMarketEnd,
.myMarketCurrent {
  width: 90px;
}

.myMarketProduct {
  width: 300px;
}