.marketMyBidTable:hover {
  cursor: pointer;
  background-color: rgba(149, 214, 214, 0.144);
}

.myBidImg {
  width: 100px;
  height: 130px;
}

.myBidImgHover {
  width: 350px;
  height: 400px;
  margin-left: -330px;
  margin-top: -10%;
}