.myMarketImg {
  width: 350px;
  height: 400px;
  margin-left: 30px;
}

.marketMyTable:hover {
  cursor: pointer;
  background-color: rgba(149, 214, 214, 0.144);
}

.marketMyImage {
  color: red;
  display: flex;
  position: absolute;
}
