.main {
  display: grid;
  width: 70%;
  margin: 0 auto;
}

.containercardpack > div {
  /* position: absolute; */
  /* width: 300px;
  height: 200px; */
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
}

.shopcardpack {
  transition: all 0.2s linear;
}
.shopcardpack:hover {
  transform: scale(1.2);
}
.shopcardpackimg {
  width: 50%;
}
