.result1 {
  display: grid;
  width: 100%;
  margin: 0 auto;
}
.noresult {
  text-align: center;
}
.result3 {
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container {
  /* width: 300px;
  height: 200px;
  transform-style: flat; */
}

.container > div {
  /* position: absolute; */
  /* width: 300px;
  height: 200px; */
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
}
