.myAuctionTable {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-top: 1px solid lightgray;
  border-collapse: collapse;
  background-color: #fff;
  clear: both;
}

.myAuctionTable > tbody > tr > th {
  border-bottom: 1px solid lightgray;
  text-align: left;
  padding: 20px;
}

.myAuctionCard {
  width: 100px;
}

.myAuctionNo,
.myAuctionEnd,
.myAuctionCurrent {
  width: 90px;
}

.myAuctionProduct {
  width: 300px;
}