.signupTitle {
  text-align: center;
  font-family: Ubuntu;
  font-size: 64px;
  line-height: 75px;
  margin-top: 150px;
}

.signupBox {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  margin-left: 5%;
  margin-right: 5%;
  height: 1000px;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 5px 5px 0px 0px;
}

.signupLeft {
  float: left;
  width: 60%;
  padding: 25px;
  border-right:1px solid #C4C4C4;
}

.signupRequired {
  font-size: 11px;
  margin-left: 15px;
  color: #C4C4C4;
}

.signupRequired > span {
  color: red;
}

.signupRight {
  float: right;
  padding-top: 25px;
  width: 33%;
}

.require {
  color: red;
  margin-right: 10px;
  font-size: 1px;
}

.phoneInfo {
  font-size: 11px;
}

.signupInfoBtn {
  margin-left: 20px !important;
}

.signupTable {
  width: 100%;
  border-spacing: 20px 15px;
  font-family: Roboto;
}

th {
  width: 150px
}

th, td {
  text-align: left;
}

td > p {
  margin: 0;
}

.signupSelectCeleb {
  margin-left: 20px;
  margin-top: 20px;
}

.signupCelebBox {
  width: 100px;
  height: 100px;
  border: 10px solid lightgray;
  text-align: center;
  border-radius: 50%;
}