.galleryTop {
  text-align: left;
  font-family: 'Gowun Dodum' !important;
  font-weight: 900 !important;
}

.galleryTopMenu, .galleryTopLi {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.galleryTopMenu {
  height: 40px;
  line-height: 20px;
  background-color: #cfcfcf;
  color: black;
}

.galleryTopMenuGroup, .galleryBodyLeft {
  float: left;
}

.galleryTopMenuGroup > span, .galleryTopLi > div > span{
  margin-left: 40px;
  padding-bottom: 1px;
}

.galleryTopMenuView, .galleryBodyRight{
  float: right;
}

.galleryTopMenuView > span {
  margin-right: 20px;
}

.underline {
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}

.galleryBody {
  /* padding: 100px; */
  /* min-width: 1357px; */
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding-top: 100px;
}