.joinDuplBtn {
  font-family: 'Gowun Dodum' !important;
  font-weight: 900 !important;
  margin-left: 10px !important;
}

.joinTable > tbody > tr > th {
  width: 140px;
  height: 50px;
}

.require {
  color: red;
  margin-right: 10px;
  font-size: 1px;
}

.joinTable, .joinSelectCeleb {
  font-family: 'Work Sans', 'Gowun Dodum';
  margin: 0 auto; 
  width: 450px;
  text-align: left;
}