.JoinSuccess {
  height: 50vh;
  text-align: center;
  font-weight: 900;
}

.joinText {
  margin-top: 10rem;
}

.joinText span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.5s ease infinite alternate;
  font-family: "Work Sans";
  font-size: 80px;
  color: rgb(10, 10, 10);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.joinText span:nth-child(2) {
  animation-delay: 0.1s;
}
.joinText span:nth-child(3) {
  animation-delay: 0.2s;
}
.joinText span:nth-child(4) {
  animation-delay: 0.3s;
}
.joinText span:nth-child(5) {
  animation-delay: 0.4s;
}
.joinText span:nth-child(6) {
  animation-delay: 0.5s;
}
.joinText span:nth-child(7) {
  animation-delay: 0.6s;
}
.joinText span:nth-child(8) {
  animation-delay: 0.7s;
  color: pink;
  margin-left: 3px;
  font-size: 100px;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.JoinSuccess h3 {
  margin-top: 5rem;
}
