.newcardsbackground {
  background-color: rgba(0, 0, 0, 0.8);
}
.newcards {
  background-color: rgba(0, 0, 0, 0);
}

.container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  width: 300px;
  height: 300px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  object-fit: cover;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  width: 300px;
  height: 300px;
  margin: 10px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: center;
  background-size: 200px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.buycardpacktit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
