.newcardsbackground {
  background-color: rgba(0, 0, 0, 0.8);
}
.newcards {
  background-color: transparent;
  boxshadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  text-align: center;
}

img {

}

.card-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 3.5%;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  margin: auto;
}

.card__border,
.card__border-line,
.card__inner {
  -webkit-clip-path: polygon(
    50% 0,
    100% 20%,
    100% 80%,
    50% 100%,
    0% 80%,
    0% 20%
  );
  clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
}

.card {
  -webkit-filter: drop-shadow(0px 0px 5px var(--color))
    drop-shadow(0px 0px 15px var(--color));
  filter: drop-shadow(0px 0px 5px var(--color))
    drop-shadow(0px 0px 15px var(--color));
  grid-column-end: span 2;
  position: relative;
  /* To position the items in the second row and 3rd row to form a honeycomb */
}
.card:nth-child(4) {
  grid-column-start: 2;
}
.card:nth-child(6) {
  grid-column-start: 3;
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6) {
  margin-top: -40%;
}

.card:not(:first-child):not(:nth-child(2)) .card__type {
  visibility: hidden;
}

.card__border {
  position: absolute;
  background: var(--color);
  left: 1%;
  top: 1%;
  width: 102%;
  height: 102%;
}

.card__border-line {
  position: absolute;
  width: 99%;
  height: 99%;
  left: 2.5%;
  top: 2.2%;
  background: linear-gradient(to bottom, #f8d177 33%, black 70%);
}

.card__inner {
  background: linear-gradient(179deg, var(--color), #e3a83b 90%);
  padding: 0.5rem 0.2rem 0rem;
  margin-top: 4.8%;
  margin-left: 4%;
}

.card__img {
  display: flex;
  padding: 0 1rem;
  background: repeating-linear-gradient(
    126deg,
    rgba(255, 255, 255, 0.219) 0%,
    #ffffff57 1.2%,
    transparent 1.19%,
    transparent 4%,
    transparent 4.1%
  );
}
@media screen and (max-width: 550px) {
  .card__img {
    padding: 0 0.2rem;
  }
}

.img__team {
  flex: 1 1 30%;
  background: rgba(0, 0, 0, 0.82);
  display: flex;
  padding: 0.3rem;
  align-items: center;
  padding-top: 15%;
}

.img__athlete {
  flex: 1 1 75%;
  padding-top: 8%;
}
.img__athlete img {
  width: 120%;
  object-fit: cover;
  object-position: top;
  margin-left: -11%;
}

.card__type {
  width: min-content;
  margin: auto;
  padding: 0 5%;
  border-radius: 5px;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: -6%;
}
@media screen and (max-width: 900px) {
  .card__type {
    font-size: min(1rem, 2vw);
  }
}

.card__text {
  position: relative;
  padding-bottom: 13%;
}
.card__text:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("https://i.pinimg.com/originals/80/7d/ce/807dcedf950725fea6b935cdb6ffb4a6.jpg");
  /* Sand texture*/
  opacity: 0.3;
  z-index: -1;
}

.name {
  font-size: 1.8rem;
  margin: 2% 0 0;
  position: relative;
}
.name:before {
  content: "";
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(#3730305c),
    color-stop(black),
    color-stop(#0000004f),
    to(transparent)
  );
  background: linear-gradient(
    to right,
    transparent,
    #3730305c,
    black,
    #0000004f,
    transparent
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5%;
}
@media screen and (max-width: 900px) {
  .name {
    font-size: min(3.5vw, 1.5rem);
  }
}

.points {
  font-size: 3rem;
  margin: 0rem 0 15%;
  position: relative;
}
.points:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 25%;
  height: 5%;
  background: black;
}
@media screen and (max-width: 900px) {
  .points {
    font-size: min(4.5vw, 2.5rem);
  }
}

.card--team-winner .card__img div:first-child {
  background: unset;
}

body {
  font-family: "Exo", sans-serif;
  margin: 0;
  background: rgba(10, 10, 26, 0.85);
}

.wrapper {
  padding: 0;
  background-blend-mode: difference;
}
