.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
}

.deck > div {
  touch-action: none;
  /* background-color: rgba(255, 255, 255, 0); */
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
.flex {
  display: flex;
  align-items: center;
}

.flex.center {
  /* justify-content: center; */
  margin-left: 110%;
}
